h1 {
    text-align: center;
}

h2 {
    padding: 40px;
    text-align: left;
}

#myButton {
    height: 200px;
    margin: auto;
    /* position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%); */
}

.container {
    text-align: center;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

}
.column{
    float: right;
    width: 50%;
}
.table{
    text-align: center;
}